node_modules

# Compiled class file
*.class

# Firebase Admin Service Account
serviceAccountKey.json

# Firebase - local
.firebase/

# VSCode
.vscode/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

.idea
*.iml
build
target
.gradle

# Package Files #
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradletasknamecache
.DS_Store

/app/src/environments/environment.ts