.landingpage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container--top,
.container--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.container--top {
  flex: 4;
  justify-content: flex-end;
}

.container--bottom {
  flex: 3;
  justify-content: flex-start;
}

.logo {
  background-image: url("../../assets/images/logo-splashscreen.png");
  width: 80%;
  height: 225px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.claim {
  font-weight: bold;
}

%text {
  opacity: .6;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.description-text {
  @extend %text;
  font-weight: 300;
}

.vendor-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
  & * {
    vertical-align: middle;
  }
}

.powered-by {
  @extend %text;
  margin-right: 10px;
}

.next {
  margin-top: 45px;
  align-self: stretch;
}
