<app-demobanner></app-demobanner>
<div class="landingpage">
  <div class="container--top">
    <div class="logo"></div>
    <h2 class="slogan">Diese Runde geht auf mich!</h2>
  </div>
  <div class="container--bottom">
    <p class="description-text">
      Trinke ein virtuelles Getränk in Deinem Lieblingslokal und zahle mit PayPal.
    </p>
    <p class="description-text">
     Zeige deine Solidarität und rette mit Hilfe Deiner Freunde das Überleben Eurer Stammkneipe.
    </p>
    <a mat-raised-button color="primary" class="join-button next" routerLink="search">MITMACHEN</a>
    <div class="vendor-images next">
      <img height="24" src="../../assets/images/logo-paypal-medium.png">
      <img height="56" src="../../assets/images/logo-wirvsvirus.png">
    </div>
  </div>
</div>
<app-demobanner></app-demobanner>
