<div class="landingpage">
  <div class="container--top">
    <!-- <img class="logo" src="../assets/images/logo-splashscreen.png" alt="Lokalrunde"> -->
    <div class="logo"></div>
  </div>
  <div class="container--bottom">
    <!-- <p class="claim">Denn diese Runde geht auf dich!</p> -->
    <p class="description-text">
      Trinke ein virtuelles Getränk in Deinem Lieblingslokal und zahle mit PayPal. Teile deine Spende über Social Media. Zeige deine Solidarität und rette mit Hilfe Deiner Freunde das Überleben Eurer Stammkneipe.
    </p>
    <button mat-button color="primary" class="next" (click)="next.emit()">Weiter</button>
  </div>
</div>
