<div class="landingpage">
  <div class="container--top">
    <div class="logo"></div>
  </div>
  <div class="container--bottom">
    <p class="description-text">
      Trinke ein virtuelles Getränk in Deinem Lieblingslokal und zahle mit PayPal. Teile deine Spende über Social Media. Zeige deine Solidarität und rette mit Hilfe Deiner Freunde das Überleben Eurer Stammkneipe.
    </p>
    <div class="vendor-images">
      <img height="20" src="../../assets/images/logo-paypal.png">
      <div>
        <strong class="powered-by">powered By</strong>
        <img height="24" src="../../assets/images/logo-wirvsvirus.png">
      </div>  
    </div>
    <button mat-raised-button color="primary" class="next" routerLink="search">Weiter</button>
  </div>
</div>
