<mat-toolbar color="primary">
    <button mat-button routerLink="/">
        <mat-icon aria-hidden="false" aria-label="Zurück">keyboard_arrow_left</mat-icon>
    </button>
    <span class="flex-divider"></span>
    <span class="app-title">Lokalrunde</span>
</mat-toolbar>

<div class="search">
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Suche</mat-label>
        <input matInput type="search" placeholder="Dein Lieblingsort" value="">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile *ngFor="let place of places" class="tile">
            <mat-card class="place mat-elevation-z4">
                <mat-card-content>
                    <div class="card-content-wrapper">
                        <div class="card-content-text">
                            <div class="card-content-subtitle">{{place.type}}</div>
                            <div class="card-content-name">{{place.name}}</div>
                            <div class="address">{{place.city}} {{place.zipCode}}, {{place.street}}</div>
                        </div>
                        <img [src]="place.imageUrl" class="place-img">
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary">EINTRETEN</button>
                    <mat-icon color="primary">favorite</mat-icon>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>