<app-toolbar backLink="/search"></app-toolbar>

<div *ngIf="!place" class="place-page place-page--loading">
  <mat-spinner color="primary"></mat-spinner>
</div>
<div *ngIf="place" class="place-page">
  <div
    class="image"
    [ngStyle]="{ 'background-image': 'url(' + place.imageUrl + ')' }"
  >
    <span class="name">{{ place.name }}</span>
  </div>
  <span class="info">
    {{ place.type }} - {{ place.city }} - {{ place.street }}
  </span>
  <mat-divider></mat-divider>

  <mat-grid-list cols="1" rowHeight="3:1" class="products">
    <mat-grid-tile *ngFor="let product of products; let idx = index" class="product">
      <mat-card class="mat-elevation-z0 product-card">
        <mat-card-content class="product-card-content">
          <img
            class="product__placeholder-image"
            src="../../assets/images/product-placeholder.png"
          />
          <div class="product__body">
            <div class="product__info">
              <span class="product__name">{{ product.name }}</span>
              <span class="product__price">{{ product.price.toFixed(2) }} €</span>
            </div>
            
            <button mat-fab color="primary" class="mat-elevation-z0" routerLink="/place/{{placeId}}/donate">
              <img
              class="product__type-icon"
              src="{{getTypeIcon(product.type)}}"
              />
            </button>

            <img
              width="93"
              class="product__paypal-button"
              src="../../assets/images/logo-paypal-medium.png"
            />
            <mat-divider
              *ngIf="idx !== products.length - 1" class="product__body__divider">
            </mat-divider>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
