<mat-toolbar color="primary">
    <button mat-button routerLink="{{backLink}}">
        <mat-icon aria-hidden="false" aria-label="Zurück" >keyboard_arrow_left</mat-icon>
        <span>Zurück</span>
    </button>
    <span class="app-title">Lokalrunde</span>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/imprint">Impressum</button>
        <button mat-menu-item routerLink="/terms">AGBs</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>