@import '../../styles.scss';

.app-title {
    text-transform: uppercase;
    color: $color-light;
}

.mat-toolbar {
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}